
$basefont:14px;

.nav-words{font-size: 1.7rem;
line-height: 2.3rem;font-weight: 500;color: black;}

.nav-words2{
    line-height:1.2rem;
    font-size: 1.3rem;
   
    
}

.footer-heading{
    line-height:1.9rem ;
    font-weight: 500;
    font-size:1.2rem;
color: #6f7c8a;
}
.footer-p{
    font-size:0.9rem ;
    line-height: 1.1rem;
    color: #22262A;
}

.cart-heading{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.1rem;
    color: #22262A;
}

.cart-words{
    font-size: 1.28rem;
    font-weight: normal;
line-height: 1.9rem;
color: #262626;
}
